.main{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container1{
 /* width:100%;*/
  height: 500px;
 background-image: url("weep.jpg");
 background-repeat: no-repeat;
 background-size: 1400px;
 padding: 40px;

 
}
.logo{
  padding-bottom: 30px;
  width: 20%;
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}
nav ul li{
  list-style-type: none;
display: inline;
padding: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color:white;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: red;
  cursor: pointer;
}
.btn{
  
  border: 1px solid gold;
  color: gold;
  height: 25px;
  width: 100px;
  border-radius: 50px;
  background-color: gray;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.3); 
}



.ab{
  
  height: 263px;
  width: 50%;
  /*background-color: red;*/
  padding-left: 100px;
 /* border: 1px solid red;*/
  padding-bottom: 30px;
}
.h{
color: white;
padding-left: 15px;
}
.e{
color: white;
padding-left: 15px;
}
.a{
  color: white;
  padding-left: 15px;
}
.d{
  color: gray;
  opacity: 0.4;
  padding-left: 15px;
}
span{
  color: blue;
}
.btn1{
  border: 1px solid gray;
  color:white;
  height: 25px;
  width: 100px;
  border-radius: 50px;
  background-color: gray;
  opacity: 0.3;
  transition: 0.3s;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.3); 
}
.other{
  width:100%;
  height: 500px;
  background-color: #0081ff;
 /* border: 1px solid red;
 /* padding-left: 25px;
  padding-right: 25px;*/
}
.middle{
  display: flex;
  width: 100%;
  height: 180px;
  background-color: #007af2;
}
.content{
  width: 50%;
  padding: 30px;
  padding-left: 70px;
}
.mh{
  color: white;
  font-size: 25px;
}
.aside{
  width: 50%;
  padding: 70px;
  color: white;
}
.s{
  color: white;
}
.foot{
  /*border: 1px solid red;*/
  padding-top: 50px;
  display: flex;
  width: 100%;
  height:220px;
}
.fail{
  width: 33.33%;
  padding-left: 70px;
}
.pan{
  
padding-left: 57px;
  width: 256.66px;
  height: 108px;
  color: white;
  font-size: 18px;
  margin: 0px 0px 16px;
  font-family: Cambay Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pan1{
  width: 256.66px;
  height: 108px;
  color: white;
  font-size: 18px;
  margin: 0px 0px 16px;
  font-family: Cambay Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  padding-left: 50px;
}
.pan2{
padding-left: 60px;
  width: 256.66px;
  height: 108px;
  color: white;
  font-size: 18px;
  margin: 0px 0px 16px;
  font-family: Cambay Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.html{
font-size: 18px;
}
.brand{
font-size: 18px;
}
.web{
font-size: 18px;
}
.icon {
 
  height: 50px;
  width: 100%;
  background-color:	#4169E1;
  opacity: 0.5;
  text-align: center;
}




/*
<footer class="row">
<div class="col-md-4">
  <img src="circle1.png" width="50px" height="50px">
 <p class="pan">Web Design & User interface <br> Investigationes <br> demonstraverunt lectores<br> legere me eum iriure dolor in <br> hendrerit.</p>
</div>
<div>
  <img src="rocket2.png" width="50px" height="50px">
 <p class="pan1">Brand identitiy<br> Claritas est etiam processus <br> dynamicus,qui sequitur <br> mutationem consuetudium <br> lectorum per seacula quarta<br> decima.</p> 
</div>
<div>
  <img src="tool.png" width="50px" height="50px">
<p class="pan2">HTML Template & Wordpress Themes<br>
  Qirum est notare quam littera<br>gothica,quam nunc.</p>

</div>





 </footer>